:root {
    --cor-primaria: #333;
    --cor-secundaria: #535353;
    --cor-fundo: #f0f0f0;
    --cor-um: #fff;
    --cor-dois: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--cor-fundo);
    transition: background-color 0.3s;
}
body.escuro {
    --cor-um: #141414;
    --cor-fundo: #242424;
    --cor-dois: #fff;
    --cor-primaria: #fff;   
    --cor-secundaria: #c9c9c9; 
}
header {
    background-color: var(--cor-primaria);
    padding: 5px 13px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
header > nav > ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 5px;
}
header > nav > ul > li > a {
    display: flex;
    color: var(--cor-um);
    text-decoration: none;
    padding: 12px 14px;
    border-radius: 10px;
    transition: background-color 0.2s;
}
header > nav > ul > li > a:hover {
    background-color: var(--cor-secundaria);
}
main > section {
    padding: 20px;
    background-color: var(--cor-um);
    transition: background-color 0.3s;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main > section > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-um);
    outline: 4px solid var(--cor-primaria);
    align-self: center;
}
main > section div.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10px;
    color: var(--cor-dois);
}
main > section h1 {
    font-family: monospace;
    font-size: 1.8rem;
    color: var(--cor-dois);
}
main > section p {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-dois);
}
main > section > div.links {
    display: flex;
    gap: 10px;
    align-self: center;;
}
main > section > div.links > a {
    font-size: 1.5rem;
    color: var(--cor-dois);
}
main > section > div.links > a:hover {
    color: var(--cor-secundaria);
    transition: color 0.3s;
}

main > section > h1 > i {
    margin-right: 10px;
    font-size: 1.5rem;
}

main > section > div.skill {
    background-color: var(--cor-fundo);
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-primaria);
    transition: background-color 0.3s;
    transition: border 0.3s;
}

main > section > div.skill:hover {
    border-left: 10px solid var(--cor-secundaria);
    cursor: default;
}

main > section > div.skill > h2 {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-dois);
    font-size: 1.3rem;
}

main > section > div.formacao {
    background-color: var(--cor-fundo);
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
    border-left: 5px solid var(--cor-primaria);
    transition: border 0.3s;
}

main > section > div.formacao:hover {
    border-left: 10px solid var(--cor-secundaria);
    cursor: default;
}

main > section > div.formacao > p.data-formacoes {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-dois);
    font-weight: bold;
}

main > section > div.formacao > h2 {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-dois);
    font-size: 1.3rem;
}

main > section > div.projeto {
    background-color: var(--cor-fundo);
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-primaria);
    transition: background-color 0.3s;
    transition: border 0.3s;
}

main > section > div.projeto:hover {
    border-left: 10px solid var(--cor-secundaria);
    cursor: default;
}

main > section > div.projeto > h2 {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-dois);
    font-size: 1.3rem;
}